<link rel="stylesheet" href="{{ themePath }}/antd.css">
<link rel="stylesheet" href="{{ themePath }}/antd-theme.css">
<label class="sk-input-label"><slot name="label"></slot><slot></slot></label>
<input class="ant-input" />
